<div class="flex flex-row w-full h-full justify-between items-end">

    <div class="flex flex-col justify-end items-start">
        <h3>CREATIVE</h3>
        <h3>FRONT END</h3>
        <h3>WEB DEVELOPER</h3>
    </div>


    <div class="w-fit h-fit p-6 md:p-12 border-2 border-gray-200 rounded-full">
        <img src="/arrow.svg" class="rotate-90 w-[1.5rem] h-[1.5rem] md:w-[3rem] md:h-[3rem]" alt="*" />
    </div>

</div>

<!-- <style>
    .abtclass {
        clip-path: polygon(100% 0, 100% 100%, 75% 100%, 75% 75%, 50% 75%, 50% 50%, 25% 50%, 25% 25%, 0 25%, 0 0);
        overflow: clip;
        width: 80%;
        height: 80vh;
        border: 8px solid gold;
    }
</style> -->