---
import Logo from "./assets/Logo.astro";
import ConBtn from "./assets/ConBtn.astro";
import About from "./About.astro";
import HeroElement from "./assets/HeroElement.astro";
---

<div class="h-[110vh] flex flex-col justify-between">

  
   <div class="flex flex-col justify-end items-end gap-7">

    <div class="invisible sm:visible md:w-1/2 lg:w-2/3 h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="invisible sm:visible md:w-1/2 lg:w-2/3 h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="invisible sm:visible md:w-1/2 lg:w-2/3 h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="invisible sm:visible md:w-1/2 lg:w-2/3 h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <Logo />
    <div class="w-full h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="w-full h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="w-full h-[2px] bg-slate-50 hover:bg-red-500"></div>
    <div class="w-full h-[2px] bg-slate-50 hover:bg-red-500"></div>
  </div>

  <!-- <HeroElement /> -->


<div class="h-full flex justify-center">
  <div class="flex justify-center"><ConBtn /></div>
</div>

<!-- <div class="flex flex-row w-full h-full justify-between items-end">
  <div class="flex flex-col justify-end items-start">
    <h3>CREATIVE</h3>
    <h3>FRONT END</h3>
    <h3>WEB DEVELOPER</h3>
  </div>

  <div class="w-fit h-fit p-6 md:p-12 border-2 border-gray-200 rounded-full">
    <img
      src="/arrow.svg"
      class="rotate-90 w-[1.5rem] h-[1.5rem] md:w-[3rem] md:h-[3rem]"
      alt="*"
    />
  </div>
</div> -->

<div class="mb-20vh flex flex flex-col justify-center">
  <About />
</div>

</div>

<style>
  .logocontainer {
    overflow: hidden;
    white-space: nowrap;
  }

  .scrolling {
    animation: marquee 30s linear infinite;
    display: inline-block;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
