<div class="flex justify-start items-center h-[50vh]">

    <div class="relative group">

        <div>
            <div class="absolute z-0 group-hover:z-10 overflow-hidden w-[100vw] rotate-3 bg-red-600">
                <div class="flex flex-row animate-marqueeOne gap-4 whitespace-nowrap">
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                </div>
            </div>
        </div>
    
        <div>
            <div class="absolute z-10 group-hover:z-0 overflow-hidden w-[100vw] -rotate-3 bg-blue-600">
                <div class="flex flex-row animate-marqueeTwo gap-4 whitespace-nowrap">
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                <h3>SERVICES * SERVICES * SERVICES *</h3>
                </div>
            </div>
        </div>
    </div>

</div>