<div class="flex flex-col">
    <div>
        <div class="overflow-hidden border-gray-200 border-2 py-3">
            <div class="flex flex-row animate-marqueeOne gap-4 whitespace-nowrap">
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
            </div>
        </div>
    </div>

    <!-- Here are the services -->

    <div class="flex flex-col border-x-2 border-gray-200 gap-4 py-2">
        <h3>Figma Design</h3>
        <h3>Design To Code</h3>
        <h3>Landing Page</h3>
        <h3>Web Design</h3>
        <h3>Front End Development</h3>
    </div>

    <!-- Here are the services -->

    <div>
        <div class="overflow-hidden border-gray-200 border-2 py-3">
            <div class="flex flex-row animate-marqueeTwo gap-4 whitespace-nowrap">
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
                <h3>SERVICES</h3>
                <img src="/starhlw.svg" class="w-[1.5rem] sm:w-[1.75rem] md:w-[2rem] lg:w-[4vw]" alt="*"/>
            </div>
        </div>
    </div>
</div>
