<div class="flex flex-col">
    <div>
        <div class="overflow-hidden border-gray-200 border-2 py-3">
            <div class="flex flex-row animate-marquee gap-4 whitespace-nowrap">
            <h3>WORK * WORK * WORK * WORK *</h3>
            <h3>WORK * WORK * WORK * WORK *</h3>
            <h3>WORK * WORK * WORK * WORK *</h3>
            </div>
        </div>
    </div>

    <div class="flex flex-col-reverse md:flex-row justify-between border-x-2 border-gray-200">

        <div class="flex flex-col gap-4">
            <h3>AKSH Foundation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nulla explicabo et, modi, incidunt sapiente quam labore mollitia voluptas placeat porro repellat fuga.</p>
        </div>
    
        <div>
            <img src="/scrren.png" class="hover:scale-95" alt="img">
        </div>
    
    </div>
    
    <div class="flex flex-row justify-between">
        <div class="border-2 border-gray-200 w-fit">
            <img src="/arrow.svg" class="size-[3rem] rotate-180 m-3" alt="*" />
        </div>
        <div class="w-full border-y-2 border-gray-200"></div>
        <div class="border-2 border-gray-200 w-fit">
            <img src="/arrow.svg" class="size-[3rem] m-3" alt="*" />
        </div>
    </div>

</div>