---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import Btn from "../components/assets/Btn.astro";
import Ref from "../components/assets/Ref.astro"
import Logo from "../components/assets/Logo.astro";
import HomeSquare from "../components/assets/HomeSquare.astro";
import ConBtn from "../components/assets/ConBtn.astro";
import Work from "../components/Work.astro";
import About from "../components/About.astro";

---

<Layout title="Welcome to Astro.">

	<main>
	<!-- <div class="h-full flex flex-col justify-between">
		
	 <div class="flex flex-col md:flex-row gap-4">
		<h3 class="whitespace-nowrap">This is,</h3>
		<Logo />
	</div>
	 <div class="flex justify-center"><ConBtn /></div>
	</div> -->
	<Home />
	</main>

</Layout>
