<!-- <div class="w-full h-screen flex justify-center items-center">
    <div class="relative btndfg w-[400px] h-[100px]">
    <div class="absoulte w-[22px] h-[22px] bg-red-600 top-0 left-0"></div>
</div>
</div>

<style>
    .btndfg {
        clip-path: polygon(0 0, 100% 0, 100% 49%, 85% 50%, 85% 100%, 0 100%);
        background-color: aquamarine;
    }
</style> -->

<div class="w-full h-screen flex justify-center items-center">
    <div class="flex items-end">
        <div class="btndfg w-[400px] h-[100px]"></div>
        <div class="clip-filler w-[22px] h-[22px] bg-red-500 hover:translate-x-[-22px]"></div>
    </div>
</div>

<style>
    .btndfg {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 80%, 95% 100%, 0 100%);
        background-color: aquamarine;
    }
</style>
